# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env/
*.sqlite3
*.log

# Virtual environments / mamba
env/
textgen/
.venv/
.conda/

# ChromaDB
fastapi/chroma_db/

# WebUI models (очень большие)
webui/models/*.gguf

# VS Code (некоторые предпочитают не включать)
#.vscode/